# ИГНОРИРУЕМ ДАТАСЕТ
/data/

# ИГНОРИРУЕМ РЕЗУЛЬТАТЫ И ВЕСА МОДЕЛЕЙ
/outputs/
/results/
/weights/

# ИГНОРИРУЕМ СИСТЕМНЫЙ МУСОР PYTHON
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ИГНОРИРУЕМ НАСТРОЙКИ РЕДАКТОРОВ
.vscode/
.idea/